<h1>Home!</h1>
<div>current user: ({{currentUser.name}})</div>
<h2>Books</h2>
<div class="bookGrid">
  {{#each bookList}}
  <div class="bookCard">
    <h3>
      {{title}} 
    </h3>
    <div class="byline">by {{author}}</div>
    <hr/>

    <p class="published">Published on {{pub_date}}</p>

    <p class="cardFooter">donated by: {{donor.name}}</p>
  </div>
  {{/each}}
</div>
